.user-projects-container {
  display: flex;
  flex-direction: column;

  .user-projects-inner-container {
    display: flex;

    // .user-project-overview-container {
    //   display: flex;
    //   flex-direction: column;
    //   margin: 5px;
    // }
  }
}