.search-results-container {
  display: flex;
  flex-direction: column;
  
  .project-overview-container {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    margin-bottom: 10px;
    cursor: pointer;
  }
}